body{
	
	margin: 0;
}
header{
	background-color: #F4F5D0 ;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Shadows Into Light', cursive;
}
header img{
	border-radius: 150px;
	border: 5px solid #401905 ;
}
header h1{
	color: #401905 ;
	font-family: 'Shadows Into Light', cursive;
 }
main{
	
	max-width: 800px;
	background-color: royalblue;
	margin: 0 auto;
}




footer{
	background-color: darkcyan;
}